body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "One-serif";

  background: dimgray;
  color: white;
}

.App {
  margin: auto;
}

.App h1 {
  margin-top: 10px;
  text-align: center;
}

.App h3 {
  margin-top: 10px;
  align-items: center;
}

.App p {
  margin-top: 10px;
  align-items: center;
}

form {
  margin: 0% 20%;
  display: flex;
  flex-direction: column;

  border: 2px solid white;
  border-radius: 15px;
}

.gender--class {
  width: 80%;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gender--class button {
  position: absolute;
  right: 34%;
}

.name--class {
  width: 80%;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name--class input {
  position: absolute;
  right: 30%;
}

.verifyname--class {
  width: 80%;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password--class {
  width: 80%;
  margin-left: 40px;
}

.password--class input {
  position: absolute;
  right: 30%;
}

.password--class label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.verifypasswd--class {
  width: 80%;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  width: 50%;
  color: white;
}

.remember--class {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remember--class label {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.remember--class label > h5 {
  margin-left: 10px;
}

.submitremove--class {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}

.btn--submit {
  margin-right: 20px;
}

.btn--remove {
  margin-left: 20px;
}


/*Second component*/
.second--class h2 {
  text-align: center;
}




/*Third component*/
.third--class {
  margin: 0% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hbtn--class {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hbtn--class h3 {
  margin: auto;
}

.hbtn--class button {
  margin: auto;
  margin-left: 40px;
  padding: 0px 10px;
}